:root{
    --main-color:#222222;
    --sec-color:#ffb400;
    --thr-color: #323232;
    --fth-color:#444;
    --fif-color:rgb(121, 121, 121);
    --white-color:white;
    --black-color:black;
    --transparent-color:rgba(255,255,255,0.4);
}
